@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #272532;
}
header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px  solid #272532;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
}

.search::placeholder{
    color: #a1a9ff;
}

.search:focus{
    background-color: #272532;
    outline: none;
    color: #858ffd;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #272532;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(43, 245, 8);
}

.movie-info span.orange {
  color: #d88a0d;
}

.movie-info span.red {
  color: #be1f1f;
}


.overview{
    background-color: #eee;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}

.overview h4{
    margin-top: 0;
}

.movie:hover .overview{
    transform: translateY(0);
}
